.outervs {
    height: fit-content;
    width: 100%;
    background-color: lightblue;
    padding-top: 5vw;
}

.list {
    display: flex;
    flex-direction: row;
}

.list-item {
    margin: 8px;
    /* Add spacing between items if desired */
    padding: 8px;
    border: 1px solid #000;
    background-color: #f0f0f0;
}

.centeredTitle {
    text-align: center;
}

.justifiedText {
  text-align: justify;
}


.vsimg {
    height: 25vw;
    width: 45vw;
    min-height: 200px;
    min-width: 300px;
    /* background-color: rgb(13, 98, 173); */
    margin: auto;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.content {
    height: fit-content;
    width: 60vw;
    margin: auto;
    /* background-color: aquamarine; */
}

.q {
    font-size: 1.6vw;
    padding: 1vw;
    border-radius: 20px;
    background-color: rgb(124, 185, 238);
    margin: 20px 0;
    margin-bottom: 10px;
}

.topic {
    font-size: 1.6vw;
    padding: 1vw;
    border-radius: 20px;
    background-color: rgb(255, 102, 140);
    margin: 20px 0;
    margin-bottom: 10px;
}

.ww {
    background-color: #ffffff;
    padding: 2%;
    border-radius: 4px;
    text-align: center;
    line-height: 20px;
}

.ww2 {
    background-color: #ffffff;
    padding: 2%;
    border-radius: 4px;
    text-align: justify;
    line-height: 20px;
}

.ans {
    text-align: center;
    font-size: 1.2vw;
    padding: 15px;
    border-radius: 20px;
    background-color: aliceblue;
    margin: 10px 0;
}

.space {
    height: 5vw;
}

.ul {
    display: block;
    font-size: 0.8vw;
    padding: 2vw;
}

.li {
    padding: 8px;
}

@media (max-width:1026px) {




    .q {
        font-size: 20px;
        padding: 15px;
        border-radius: 20px;
        background-color: rgb(124, 185, 238);
        margin-bottom: 10px;
    }

    .ans {

        font-size: 13px;

    }

    .ul {
        font-size: 13px;
        padding: 2vw;
    }


}

@media (max-width:600px) {
    .vsimg {
        /* height: 150px;
        width: 300px; */
        margin: auto;
    }

    .content {
        height: fit-content;
        width: 330px;
        margin: auto;
        /* background-color: aquamarine; */
        padding: 20px 0;
    }

    .q {
        font-size: 20px;
        padding: 15px;
        border-radius: 20px;
        background-color: rgb(124, 185, 238);
        margin-bottom: 10px;
    }

    .ans {
        padding: 15px;
        border-radius: 20px;
        margin-bottom: 10px;
        background-color: aliceblue;
    }

    .ul {
        font-size: 13px;
        padding: 2vw;
    }
}